@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap);
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Comfortaa";
  font-weight: 700;
}
body,
html,
footer {
  overflow-x: hidden !important;
}
h1 {
  margin-top: 50px;
}
p {
  margin-top: 20px;
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 25px;
}
h1,
h2,
h3,
p,
a,
li {
  cursor: default;
}
.meuNome {
  color: #33bfd0;
}
.LogoJP {
  animation: Color 2s infinite;
  font-size: 70px;
  display: flex;
}
@keyframes Color {
  0% {
    color: #7bdafc;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #33bfd0;
  }
  75% {
    color: #33bfd0;
  }
  100% {
    color: #33bfd0;
  }
}
h1,
h2,
h3,
p,
a,
li,
button {
  color: #ffffff;
}
a {
  margin-left: 30px;
  transition: 0.7s;
  text-decoration: none;
}
li {
  list-style: none;
  text-indent: 50px;
  margin-top: 15px;
}
details {
  padding-top: 30px;
  padding-left: 50px;
  color: #33bfd0;
  cursor: pointer;
}
a:hover {
  opacity: 0.9;
}
a.logo {
  cursor: pointer;
  color: #33bfd0;
}
.logo:hover {
  color: #ffffff;
}
.navigationBar {
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: space-around;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navList {
  list-style: none;
  display: flex;
}
.mobileMenu {
  cursor: pointer;
  display: none;
}

.navigationBar a {
  float: left;
  display: block;
  text-align: center;

  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.navigationBar a:hover {
  opacity: 0.5;
}

.mobileMenu div {
  width: 22px;
  height: 3px;
  background: #fff;
  margin: 6px;
  border-radius: 2px;
}
@media (max-width: 786px) {
  body,
  html,
  footer {
    overflow-x: hidden !important;
  }
  .navList {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 20vh;
    background: #1b1b1b;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navList a {
    margin-left: 30px;
  }
  .mobileMenu {
    display: block;
  }
}

.navList.active {
  transform: translateX(0);
  padding-top: 70px;
  height: 20vh;
  width: 50vw;
  display: flex;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobileMenu.active .line1 {
  transform: rotate(-45deg) translate(-3px, 8px);
}

.mobileMenu.active .line2 {
  opacity: 0;
}

.mobileMenu.active .line3 {
  transform: rotate(45deg) translate(-3px, -8px);
}
body {
  background-color: #12121b;
  overflow-x: hidden;
  justify-content: center;
  justify-items: center;
}
.homeSection {
  padding-top: 100px;
  display: flex;
}
.homeLink {
  display: flex;
}
.btn {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  border-radius: 15px;
  height: 40px;
  width: 150px;
  margin: 10px;
}
.btn:hover {
  transform: scale(1.09);
}

.colunas {
  display: flex;
}
.coluna1 {
  /*background-color: #33bfd0;*/
}
.coluna2 {
  /*background-color: rosybrown;*/
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

footer {
  padding-bottom: 0;
  height: 170px;
  align-items: center;
  position: relative;
  background-color: #1b1b1b;
}
footer p {
  padding-top: 70px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.projects {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projectImage {
  margin: 15px;
  height: 130px;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  color: #33bfd0;
}
.socialbtn {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #1b1b1b;
  border-radius: 15px;
  height: 40px;
  width: 250px;
  margin: 10px;
}
.socialbtn:hover {
  transform: scale(1.09);
}
.socialLogo {
  height: 25px;
  margin-left: 30px;
}
